/.idea
**/*.iml
*/*/Binaries
*/*/DerivedDataCache
*/*/Intermediate
*/*/Saved
*/*/.vscode
*/*/.vs
*/*//cmake-build-debug/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/tmp

# Swatch files are generated thumbnails for shader used to speed up hypershade
# and there is no need to check in as they will be regenerated when opened.
**/.mayaSwatches/*.swatches
**/.mayaSwatches/*.swatch

# Ignore the Substance painter autosaves
**/*_autosave_*.spp

# Ignore the Substance painter lock files
**/*.spp.painter_lock
